* {
  box-sizing: border-box;
}

:root {
  --primary-colour: black;
  --secondary-colour: aliceblue;
}

h1{
  display: inline-block;
  font-family: 'serif';
  margin-left: 5px;

}

h1:nth-child(even) {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 110px;


}

header {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  font-size: 20px;
  border-bottom: 1mm solid rgba(240, 248, 255, 0.666); 
}

nav {
  display: flex;
  margin-left: 20px;
  justify-content: center;

  
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 70px;
}


nav a {
  color: var(--secondary-colour);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--primary-colour);
}



