* {
  box-sizing: border-box;
}

header {
  background-color: aqua;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  justify-content: center;
  display: flex;
}

p {
  margin: 0;
}

.page-wrapper {
  display: grid;
  margin: 0px 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas: 
  "about contact"
  "p1 p2"
  "p3 p4";
}

#contact-me {
  grid-area: contact;
}


#project1 {
  grid-area: p1;
  background-image: url("../images/02-portfolio-1.jpg");
}


#project2 {
  grid-area: p2;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

#project3 {
  grid-area: p3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project4 {
  grid-area: p4;

}

