* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-colour: black;
  --secondary-colour: aliceblue;
}

header {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  font-size: 20px;
  border-bottom: 1mm solid rgba(240, 248, 255, 0.666); 
}

h1{
  display: inline-block;
  font-family: 'serif';
  margin-left: 5px;
}

h1:nth-child(even) {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 110px;
}

nav {
  display: flex;
  margin-left: 20px;
  justify-content: center;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 70px;
}

nav a {
  color: var(--secondary-colour);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--primary-colour);
}

.contentGrid {
  display: grid;
  margin-right: 15px;
  grid-template-rows: 30%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  "image profile contact";
}

#my-picture {
  grid-area: image;
  width: 100%;
}

#profile {
  grid-area: profile;
}

#contact-info {
  grid-area: contact;
  display: block;
  text-align: center;
  padding-left: 20px;
  justify-content: center;
  color: var(--secondary-colour);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  padding: 5px;
  text-align: center;
  border: 5px double var(--secondary-colour);
}

nav li:hover {
  box-shadow: inset 0px 0px 15px blue, 00px 0 30px blue;
}

article h2 {
  font-family:'Times New Roman', Times, serif;
  color: var(--secondary-colour);
  font-size: 70px;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: -25px;
}

article p{
  color: var(--secondary-colour);
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

#projectsGrid {
  display: grid;
  grid-template-rows: 75vh 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "study study study"
  "horiseon milan calc"
  ;
}


#studyGuide {
  grid-area: study;
  background-image: url("../../images/Capture\ \(2\).PNG");



} 

#horiseon {
  grid-area: horiseon;
  background-image: url("../../images/digital-marketing-meeting\ \(2\).jpg");

} 

#milan {
  grid-area: milan;
  background-image: url("../../images/rafael-leao-2\ \(2\).jpg");
  background-position: center;
}

#calculator {
  grid-area: calc;
  background-image: url("../../images/H2x1_NSwitchDS_Calculator.jpg");

}

.projectsGridArea {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#projectsTitle {
  display: block;
  color: var(--secondary-colour);
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.card-heading {
  display: flex;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}

.project-card:hover, 
.project-card:hover .card-heading {
  box-shadow: inset 0px 0px 8px blue, 0 0 15px blue;
}